
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Cac cach truyen tham so cho pthuc action</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="UseRequest">Request(UseRequest)</a>
            </li>
            <li  class="list-group-item">
                <a href="UseFormCollection">FormCollection(UseFormCollection)</a>
            </li>
            <li  class="list-group-item">
                <a href="UseModel">Model(UseModel)</a>
            </li>
            <li  class="list-group-item">
                <a href="UseArgu">Doi so (UseArgu)</a> 
            </li>
        </ul>
    </div>
</body>
</html>
