
@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Home/About.cshtml";
}


@{
    Group5.Models.College obj = (Group5.Models.College)ViewBag.Data;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Find</title>
</head>
<body>
    <div>
        @obj.mssv @obj.Name @obj.Class @obj.mahp
    </div>
</body>
</html>
